*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
.box{
  display: flex;
}
.left{
  flex: 1;
  border-right: 1px solid red;
  height: 100vh;
  text-align: center;
  padding-top: 100px;
  box-sizing: border-box;
}
.right{
  flex: 1;
  height: 100vh;
  position: relative;
}
.zhe{
  width: 100%;
  height: 100%;
  background-color:black;
  position: absolute;
  top: 0;
  left:0
}